* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.side {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 40%;
    width: 5vmax;
    height: 5vmax;
    position: relative;
    background-color: red;
    transition: 0.25s all linear;
}

.side::after {
    content: "L hello";
    position: absolute;
    top: 0;
    width: 10vmax;
    height: 100%;
    background-color: red;
    left: -10vmax;
    transition: 0.25s all ease;
}

.side:hover::after {
    left: 0;
}
