* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1618556450994-a6a128ef0d9d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    /* filter: blur(10px); */
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    width: 100%;
    height: 15%;
    padding: 2vmax 0 0 5vmax;
}

nav > h1 {
    font: 600 4vmax "Shaloems";
    color: #fff;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.content > h1 {
    font: 600 3vmax "Bebas";
    letter-spacing: 2px;
    word-spacing: 5px;
}

.content > p {
    font: 300 1vmax "montserrat";
    letter-spacing: 1.5px;
    margin: 0.5vmax 0;
}

.content > button {
    font: 500 1vmax "montserrat";
    padding: 1vmax 3vmax;
    border-radius: 0.5vmax;
    margin-top: 0.5vmax;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}
